/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body, p, div, span, ul, li, ol, button, input, textarea, b, strong, i, em, th, td, tr, thead, tbody, tfoot, dd, dt, dl {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.main {
    background-color: #fafafa;
}

.content.container {
    width: 80%;
    margin: auto;
}

.header {
    background: url('../img/banner.jpg') no-repeat center center scroll;
    background-size: cover;
}

.register {
    background: url('../img/register-bg.jpg') no-repeat center center scroll;
    background-size: cover;
}

.alumni {
    background-color: #1b1f22;
}

.contact .content.container {
    background-color: #fafafa;
    box-shadow: 0px 1px 0px #eeeeee;
}

.contact-content-container {
    margin-top: -2rem;
}

.contact-heading {
    font-size: 1.5rem;
}

.contact-head > .btn {
    background-color: #919191;
    font-size: 1.5rem;
    color: #ffffff;
    padding: 0.375rem 2rem;
    border-radius: 25px;
}

.alumni-container-item p {
    font-size: 12px;
}

.certifications-text-content > p {
    font-size: 14px;
}

.certificate-item {
    background-color: #f4f4f4;
    border: 1px solid #dbdbdb;
    height: 100%;
    width: 96%;
    margin: auto;
}

.certificate-name {
    background-color: #e9e9e9;
    padding: 0.5rem;
    font-size: 12px;
    font-weight: 600;
}

.register-text-content > h1 {
    font-size: 28px;
    font-weight: 600;
}

.register-text-content > p {
    font-size: 14px;
}

.register-countdown-item {
    background-color: #ffffff;
    width: 70px;
    min-height: 66px;
    padding: 0.5rem;
    margin: 0.25rem;
}

.register-countdown-item > h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 600;
}

.register-countdown-item > p {
    font-size: 12px;
}

.register-countdown-item.red {
    background-color: #ff0000;
    color: #ffffff;
}

.register-now > .btn {
    font-size: 24px;
    font-weight: 600;
    padding: 0.5rem 2.5rem;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #eeeeee;
    border-radius: 50px;
    color: #ffffff;
    transition: all ease-in 0.4s;
}

.register-now > .btn:hover, .register-now > .btn:focus {
    background-color: #ffffff;
    color: #000;
    box-shadow: 1px 1px 2px 0px #6e6e6e;
}

.projects {
    border-top: 1px outset #dbdbdb;
}

.project-item-wrap {
    padding: 0;
    margin-bottom: 1rem;
}

.project-item {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    width: 94%;
    margin: auto;
    height: 100%;
    padding: 2rem 0.75rem;
    min-height: 126px;
    transition: all ease-out 0.4s;
}

.project-item:hover, .project-item:focus {
    background-color: #00b7ff;
    border-color: #00b7ff;
    box-shadow: 2px 2px 12px 2px rgba(149, 149, 149, 0.8);
    z-index: 11;
}

.project-name {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    margin-top: 1.5rem;
}

.project-item:hover .project-name, .project-item:focus .project-name {
    color: #ffffff;
}

.feature-container {
    border: 1px solid #ccc;
}

#feature-nav-tabs .nav-link {
    border-radius: 0;
    background-color: #e5e5e5;
    border-right: 1px solid #ccc;
    color: #000;
    font-weight: 600;
}

#feature-nav-tabs .nav-link + .nav-link {
    border-top: 1px solid #ccc;
}

#feature-nav-tabs .nav-link.active {
    border-right: 0px;
    background-color: #fff;
}

.feature-list-item > p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.feature-list-item > p > span {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    margin-left: 4px;
}

.about-text-heading h1 {
    font-family: 'Roboto', sans-serif;
}

.about-foot > .btn {
    background-color: #686868;
    border: 1px solid #686868;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 0.5rem 1rem;
    box-shadow: 2px 2px 12px 2px rgba(149, 149, 149, 0.8);
    transition: all ease-in-out 0.4s;
}

.about-foot > .btn:focus, .about-foot > .btn:hover {
    background-color: #000;
    border: 1px solid #000;
}

.about .content.container {
    width: 90%;
}

.banner-text-contact > .btn {
    background-color: #6dc823;
    color: #fff;
    padding: 0.5rem 1rem;
    transition: all ease-in 0.4s;
}

.banner-text-contact > .btn > img {
    margin-right: 1rem;
}

.banner-text-contact > .btn:focus, .banner-text-contact > .btn:hover {
    background-color: #63971b;
}

.top-header {
    background-color: #fafafa;
}

.top-header-content {
    background-color: #fafafa;
}

.banner-text-top-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
  
.banner-text-top {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 220px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
  
.banner-text-top::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: #00b7ff;
}
  
.banner-text-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00b7ff;
    opacity: 0;
}

.banner-text-bottom-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
  
.banner-text-bottom {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    width: 100%;
    min-height: 56px;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
  
.banner-text-bottom::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-color: #4a4a4a;
}
  
.banner-text-bottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4a4a4a;
    opacity: 0;
}

.banner-text-bottom > p {
    position: absolute;
    left: 10%;
    top: 16px;
}

.banner-text-pack {
    position: absolute;
    left: 10%;
    top: 40px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media all and (max-width: 1024px) {
    .top-header-content { width: 100%!important; }
}

@media all and (max-width: 991px) {
    .about-text { margin-top: 1rem; }
    .about .content.container { width: 80%; margin: auto!important;}
}

@media all and (max-width: 767px) {
    .about .content.container { width: 100%; }
    .content.container { width: 100%; }
    .contact-head > .contact-heading { margin-bottom: 1rem!important; }
    .contact-phone, .contact-email { display: none; }
}

@media (min-width: 768px) {  
    .banner-text-top-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 70%;
        margin-left: -15%;
    }
    .banner-text-top {
        width: 20%;
        margin-right: -1px;
        -webkit-transform: skewX(-25deg) translateZ(0);
        transform: skewX(-25deg) translateZ(0);
    }
    .banner-text-top::before {
        left: -100%;
        width: 400%;
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }
    .banner-text-bottom-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 64.5%;
        margin-left: -15%;
    }
    .banner-text-bottom {
        width: 20%;
        margin-right: -1px;
        -webkit-transform: skewX(-25deg) translateZ(0);
        transform: skewX(-25deg) translateZ(0);
    }
    .banner-text-bottom::before {
        left: -100%;
        width: 400%;
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }
    .banner-text-bottom > p {
        position: absolute;
        left: 40%;
        -webkit-transform: skewX(25deg) translateZ(0);
        transform: skewX(25deg) translateZ(0);
        top: 16px;
    }
    
    .banner-text-pack {
        position: absolute;
        left: 36.5%;
        top: 40px;
        -webkit-transform: skewX(25deg) translateZ(0);
        transform: skewX(25deg) translateZ(0);
    }
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


div.banner-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  @media (min-width: 630px) {
  
  div.banner-banner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 70%;
    margin-left: -15%;
  }
  }
  
  .banner-banner section {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    width: 50%;
    min-height: 10vh;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: flex-grow .2s, opacity .2s, -webkit-box-flex .2s, -webkit-flex-grow .2s;
    transition: flex-grow .2s, opacity .2s, -webkit-box-flex .2s, -webkit-flex-grow .2s;
    transition: flex-grow .2s, opacity .2s;
    transition: flex-grow .2s, opacity .2s, -webkit-box-flex .2s, -webkit-flex-grow .2s, -ms-flex-positive .2s;
  }
  
  .banner-banner section:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-transition: width .2s, -webkit-transform .2s;
    transition: width .2s, -webkit-transform .2s;
    transition: transform .2s, width .2s;
    transition: transform .2s, width .2s, -webkit-transform .2s;
  }
  
  .banner-banner section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    opacity: 0;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
  }
  @media (min-width: 630px) {
  
  .banner-banner section {
    width: 20%;
    height: 20vh;
    margin-right: -1px;
    -webkit-transform: skewX(-25deg) translateZ(0);
    transform: skewX(-25deg) translateZ(0);
  }
  
  .banner-banner section:before {
    left: -100%;
    width: 400%;
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  }
  
  .banner-banner section:before {
    background-color: #ff0000;
  }